<div class="az-admin-header">
	<h1 class="az-heading">Tags</h1>
</div>
<h3 class="az-font">Palabras claves para que los usuarios encuentren tu negocio en una búsqueda específica</h3>

<div class="aside">
	<div class="fake-input">
		<input type="text" class="borderless" placeholder="Elegí palabras claves existentes">
		<div class="iconito">+</div>
	</div>
</div>
<div class="aside">
	<div class="fake-input">
		<input ng-model="tag.name" type="text" placeholder="Añadí la que creas necesaria" class="borderless">
		<div class="iconito" ng-click="agregarTag(tag.name)">+</div>
	</div>
</div>
<div class="aside">
	<h5 class="az-description">Letras y espacios en mínusculas, de 3 a 30 caracteres</h5>
</div>
<div class="aside">
	<h5 class="az-description">Por ejemplo: Barrio, cafe, actividad, productos</h5>
</div>

<div class="az-separator">
	<h3 class="az-font">Mis tags</h3>
</div>

<div class="tag-wrapper">
	<div class="az-tag-wrapper" ng-repeat="tag in availableTags">
		<div class="az-tag">{{ tag.name }}</div>
		<div ng-click="borrarTag(tag.id)" class="az-tag-action">x</div>
	</div>
</div>
