<h1>Información comercial</h1>
<h2>Quiénes somos</h2>
<textarea name=""
          id=""
          cols="30"
          rows="5"
          style="width: 100%"
          ng-model="entity.description">

</textarea>

<h2>Horarios</h2>
<h3>Completa los campos con los horarios de tu comercio</h3>

<div class="wrapper">
    <div class="sub-wrapper">
        <div class="rowy-1">1</div>
        <div class="rowy-2">2</div>
        <div class="rowy-2">3</div>
    </div>
    <div class="sub-wrapper"></div>
        <div class="rowy-1">
            <div>Lunes</div>
            <div>Martes</div>
            <div>Miércoles</div>
            <div>Jueves</div>
            <div>Viernes</div>
            <div>Sábado</div>
            <div>Domingo</div>
        </div>
        <div class="rowy-2">
            <div>
                <div class="center-me">
                   de <input  type="text" class="inline hours"  ng-model="daysOfWeek[0][0].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[0][0].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input  type="text" class="inline hours" ng-model="daysOfWeek[1][0].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[1][0].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[2][0].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[2][0].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[3][0].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[3][0].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[4][0].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[4][0].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[5][0].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[5][0].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[6][0].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[6][0].closeTime">
                </div>
            </div>
        </div>
        <div class="rowy-2">
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[0][1].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[0][1].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[1][1].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[1][1].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[2][1].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[2][1].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[3][1].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[3][1].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[4][1].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[4][1].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[5][1].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[5][1].closeTime">
                </div>
            </div>
            <div>
                <div class="center-me">
                   de <input type="text" class="inline hours" ng-model="daysOfWeek[6][1].openTime"> hasta  <input type="text" class="inline hours" ng-model="daysOfWeek[6][1].closeTime">
                </div>
            </div>
        </div>


        <button ng-click="saveHours()">Actualizar Horarios</button>
</div>
